{% extends 'base.html.twig' %}

{% block title %}Edit Track{% endblock %}

{% block body %}
    <h1>Edit Track</h1>

    {{ include('web/track/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_web_track_index') }}">back to list</a>

    {{ include('web/track/_delete_form.html.twig') }}
{% endblock %}
