<!DOCTYPE html>
<html>
<head>
    <title>Mon projet Symfony avec Bootstrap</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    <h1>Mon Projet Symfony avec Bootstrap</h1>
    <p>Bienvenue sur mon site !</p>
    <button class="btn btn-primary">Cliquez ici</button>
</div>

<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
